* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EEEEEE;
}

.todo-box {
    margin: 20px;
    border: 1px solid #222831;
}

.todos-task {
    width: fit-content;
    height: 100%;
    background-color: tomato;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.todo-task {
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 130px;
    color: #222831;
}

form {
    font-size: 24px;
}

li {
    padding-left: 5px;
    margin: 5px;
    list-style-type: none;
    margin-bottom: 4px;
    border-bottom: 3px solid #30475E;
    color: black;
}

a {
    float: right;
    font-size: 15px;
    color: red;
    text-decoration: none;
    opacity: 0.2;
}

a:hover {
    transform: scale(1.5);
    opacity: 0.9;
}

.item-list li.done {
    text-decoration: line-through;
}

input {
    font-size: 24px;
    width: 100%;
    border-color: #222831;
    border-radius: 5px;
    text-indent: 5px;
    -webkit-transition: 1s;
    transition: 1s;
    min-width: 330px;
}

input[type=text]:hover {
    box-shadow: 0 0 5pt 0.5pt #30475E;
}

input[type=text]:focus {
    box-shadow: 5px blue;
    outline-width: 0px;
}

button {
    display: inline-block;
    padding: .5rem .5rem;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    background: #F05454;
    border: 2px solid #F05454;
    font-weight: 500;
}

.add {
    float: right;
}

button:hover {
    background: white;
}

.tools {
    background-color: #1687A7;
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem;
}

.tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.task-name {
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 11px 0;
}

.task-box {
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 10px;
}

.tools button {
    padding-bottom: 12px;
}